#p1 {
  color: green !important;
}
.info {
  background-color: yellow !important;
  color: red !important;
}

.text-blue {
  color: dodgerblue;
}

.bg-gray {
  background-color: lightgray;
}
p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
}
h2 {
  text-align: center;
}

.sample {
  border: 1px solid red;
  padding: 8px;
}

#p1 {
  font-style: italic;
  color: yellow;
}